@*
	
*@
@using At.Mausa.Grasmaster.Domain.Models;
@model IEnumerable<User>

@{
	ViewData["Title"] = "Product";
}

@if (Model.Count<User>() == 0)
{
	<h3>No User</h3>
}

<table cellpadding="5" cellspacing="5">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Address</th>
	</tr>
	@foreach (User user in Model ?? throw new ArgumentNullException())
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.Name</td>
			<td>@user.Address</td>
		</tr>
	}
</table>
