@*
	
*@
@using At.Mausa.Grasmaster.Domain.Models;
@model IEnumerable<User>

@{
	ViewData["Title"] = "Users";
}

@if (Model.Count<User>() == 0)
{
	<h3>No User</h3>
}
<a href="user/create">Create</a>
<table cellpadding="5" cellspacing="5">
	<tr>
		<th>Name</th>
	</tr>
	@foreach (User user in Model ?? throw new ArgumentNullException())
	{
		<tr>
			<td><a href="user/details/@user.Guid">@user.Name</a></td>
			<td><a href="user/edit/@user.Guid">Edit</a></td>
			<td><a href="user/delete/@user.Guid">Delete</a></td>
		</tr>
	}
</table>
