
@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using At.Mausa.Grasmaster.Domain.Models
@model List<ProductType>

<h1>Create</h1>

<form method="post" >
<fieldset>
	<legend>Add Product</legend>
	<div>
		<label for="ProductName">Product Name:</label>
		<input type="text" name="Name" value="" />
	</div>
	<div>
		<label for="Description">Description:</label>
		<input type="text" name="Description" value="" />
	</div>
	<div>
		<label for="art">Produktart:</label>
		<select id="art" name="art">
			@foreach (ProductType item in Model){
				<option value="@item">@item</option>
			}
		</select>
	</div>
	<div>
		<label>&nbsp;</label>
		<input type="submit" value="Submit" class="submit" />
	</div>
</fieldset>
</form>

