@*
	
*@
@using At.Mausa.Grasmaster.Domain.Models;
@model IEnumerable<Product>

@{
	ViewData["Title"] = "Product";
}


@if (Model.Count<Product>() == 0)
{
	<h3>No Products</h3>
}
<a href="product/create">Create</a>
<table cellpadding="5" cellspacing="5">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Art</th>
	</tr>

	
	@foreach (Product product in Model ?? throw new ArgumentNullException())
	{
		<tr>
			<td>@product.Name</td>
			<td>@product.Description</td>
			<td>@product.ProductType.ToString()</td>
			<td><a href="product/edit/@product.Guid">Edit</a></td>
			<td><a href="product/delete/@product.Guid">Delete</a></td>
		</tr>
	}
	
</table>
